.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    border: 2px solid snow;
}
.flex-item{
background-color: rgb(17, 255, 0);
border: 2px solid #005f6b;
padding: 20px;
font-size: 1.5em;

}